.Offers{
width:65%;
height:60vh;
display:flex;
margin:auto;
padding:0px 140px;
margin-bottom:150px;
background:linear-gradient(180deg,#fde1ff,#e1ffea22,60%);
}

.Offers-left{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
}

.Offers-left h1{
color:#171717;
font-size:40px;
font-weight:600;
padding-bottom:30px;
position:relative;
bottom:200px;
display:inline-block;
white-space:nowrap;
left:50px;
}

.Offers-left p{
color:#171717;
font-size:22px;
font-weight:600;
position:relative;
bottom:200px;
left:50px;
}

.Offers-left button{
width:282px;
height:70px;
border-radius:30px;
background:#ff4141;
border:none;
color:white;
font-size:22px;
font-weight:500;
cursor:pointer;
position:relative;
top:130px;
left:30px;

}

.Offers-right{
flex:1;
display:flex;
align-items:center;
justify-content:flex-end;
padding-top:50px;
}

.Offers-right img{
object-fit:cover;
height:400px;
width:300px;
margin-left:100px;
}