@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Playwrite+HR:wght@100..400&display=swap');

.hero{
/* height:100vh; */
background:linear-gradient(180deg,#fde1ff,#e1ffea02,60%);
display:flex;
overflow:hidden;
height:100%;
width:100%;
margin-bottom:25px;
}

.hero-left{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
gap:20px;
padding-left:170px;
line-height:1.1;
font-family:'League Gothic',sans-serif;
}

.hero-left h2{
color:#090909;
font-size:40px;
font-weight:500;
position:relative;
right:75px;
}

.hero-left p{
color:#171717;
font-size:30px;
font-weight:700;
}

.hero-hand-icon{
display:flex;
align-items:center;
gap:20px;
}

.hero-hand-icon img{
width:105px;
/* object-fit:cover; */
}

.hero-latest-btn button{
display:flex;
justify-content:center;
align-items:center;
gap:15px;
width:310px;
height:70px;
border-radius:75px;
margin-top:30px;
background:palevioletred;
color:white;
font-size:22px;
font-weight:500;
}

.hero-latest-btn button:hover{
cursor:pointer;
background:pink;
}
.hero-right{
flex:1;
display:flex;
justify-content:center;
align-items:center;
margin-top:50px;
}

.hero-right img{
height:413px;
width:522px;
/* object-fit:cover; */
margin-left:10px;
position:relative;
left:50px;
}