.shop-img{
display:block;
/* margin:30px auto; */
margin:0px;
width:100%;
overflow:visible;
height:100%;
}

.shopcategory-indexsort{
display:flex;
justify-content:space-evenly;
align-items:center;
margin-left:400px;
}


.shopcategory-sort{
margin-top:80px;
position:relative;
right: 400px;
padding:4px 8px;
border-radius:40px;
border:1px solid #888;
display:flex;
gap:10px;
width:100px;
height:30px;
justify-content:space-between;
align-items:center;
}

.sort-msg{
margin-right:2px;
font-size:12px;
margin-top:20px;
display:inline-block;
white-space: nowrap;
/* line-height:1.1; */
}

.sort-btn{
    height:20px ;
    width:40px ;
    }

.filter-img{
height:10px;
width:20px;
border-radius:5px;
cursor:pointer;
padding:0px;
margin-bottom:1080px;
}



.list-class{
margin-top:30px;
list-style:none;
height:100px;
width:100px;
display:flex;
flex-direction:column;
background-color:#FFFFFF;
justify-content:space-around;
align-items:center;
color:black;
border:1px solid black;
}

.list-item{
padding-left:3px;
padding-right:3px;
}
.shopcategory-indexsort p{
margin-bottom:25px;
}

.shopcategory-indexsort p span{
font-weight:600;
}

.shopcategory-products{
width:852px;
/* margin:20px 70px; */
display:grid;
grid-template-columns:repeat(3,400px);
grid-template-rows: repeat(4,300px);
justify-content:start;
align-items:start;
row-gap:10px;
column-gap:40px;
margin-bottom:200px;
margin-top:0px;
position:relative;
bottom:200px;
margin-left:0px;
}

.shopcategory-loadmore{
display:flex;
align-items:center;
justify-content:center;
margin:300px auto;
width:233px;
height:69px;
border-radius:75px;
background:#ededed;
color:#787878;
font-size:18px;
font-weight:300;
}

