.navbar{
display:flex;
justify-content:space-evenly;
padding:16px;
box-shadow:0 1px 3px -2px black;
margin-left:0px;
}

.nav-logo{
display:flex;
position:relative;
right:100px;
}

.nav-logo p{
color:#171717;
font-size:38px;
font-weight:600;
}

.para{
color:#171717;
font-size:38px;
font-weight:600;
}

.nav-menu{
display:flex;
align-items:center;
list-style:none;
gap:50px;
color:#626262;
font-size:20px;
font-weight:500;
margin-right:20px;
}

.nav-menu li{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:10px;
cursor:pointer;
}

.nav-menu hr{
border:none;
width:80%;
height:3px;
border-radius:10px;
background-color:#ff4141;
}
.nav-cart-icon{
display:flex;
align-items:center;
gap:45px;
}

.nav-cart-icon button{
width:157px;
height:58px;
outline:none;
border:1px solid aquamarine;
border-radius:75px;
color:#515151;
font-size:20px;
font-weight:500;
background:whitesmoke;
cursor:pointer;
}

.nav-cart-icon button:hover{
color:palevioletred;
}

.nav-bar-count{
width:22px;
height:22px;
display:flex;
justify-content:center;
align-items:center;
margin-top:-35px;
margin-left:-35px;
font-size:15px;
background:mediumslateblue;
color:azure;
}

.button-log{
    outline:none;
    border:1px solid aquamarine;
    color:#515151;
    font-size:20px;
    font-weight:500;
    background:whitesmoke;
    cursor:pointer;
    border-radius:75px;
    height:100px;
    width:100px;
}

.text-custom{
display:flex;
justify-content:center;
align-items:center;
height:20px!important;
width:20px !important;
padding:18px !important;
cursor:pointer;
border-radius:25px !important;
margin-bottom:6px !important;
position:relative !important;
right:30px !important;
}